<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Icon:</strong>
     <div>
                <img src="<%= group.icon %>" class="image img-thumbnail">
              </div>
  </p>

</div>
