<%= render 'home/nav'%>

<p style="color: green"><%= notice %></p>

<div class="group-number mb- d-flex px-3 bg-white justify-content-between">
  <p>Amount Spent</p>
  <p>4</p>
</div>

<div class="group-number mb-5 border-top pt-2 border-4 border-light d-flex px-3 bg-white justify-content-between">
  <p>Total Miscellaneous</p>
  <p>4</p>
</div>

